################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShoppingApp.Utility/obj/Debug
/.vs/OnlineShoppingApp/v15/Server/sqlite3/storage.ide-wal
/.vs/OnlineShoppingApp/v15/Server/sqlite3/storage.ide-shm
/.vs/OnlineShoppingApp/v15/Server/sqlite3/storage.ide
/.vs/OnlineShoppingApp/v15/Server/sqlite3/db.lock
/.vs/OnlineShoppingApp/v15/.suo
